---
import Menu from '../components/Menu.astro';
import Footer from '../components/Footer.astro';
import '../stylesheets/defaults.css';
import Button from '../components/Button';
import Spacer from '../components/Spacer.astro';

export interface Props {
	entry: string;
    lastPage?: switchPage;
    nextPage?: switchPage;
}

interface switchPage {
    title: string;
    link: string;
}

const {
    entry,
    lastPage = {
        title: "",
        link: ""
    },
    nextPage = {
        title: "",
        link: ""
    }
} = Astro.props;

const response = await fetch('http://localhost:3000/databases/galleries.json');
const data = await response.json();
const portfolioEntry = data["portfolio"].entries.filter((item: { name: string; }) => item.name == entry)[0];
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{`${entry} | Harrison Bouche - Portfolio`}</title>

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;0,900;1,400&display=swap" rel="stylesheet">
		<script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>
	</head>
	<body>
		<Menu activePage="Portfolio" />
		<main>
            <section id="entry-box">
                <div id="entry-info-box" class="flex flex-jsb">
                    <div>
                        <img src={portfolioEntry.image} alt={portfolioEntry.title} />
                        <Button link={portfolioEntry.source} newTab={true}>View Project</Button>
                    </div>
                    <hr id="entry-barrier" />
                </div>
    			<div id="content-box">
                    <h2>{portfolioEntry.name}</h2>
                    <slot />
                    <Spacer />
                    {lastPage.title != "" ? <Button type="arrow-left" link={lastPage.link}>{lastPage.title}</Button> : <></>}
                    {nextPage.title != "" ? <Button type="arrow-right" link={nextPage.link}>{nextPage.title}</Button> : <></>}
                </div>
            </section>
		</main>
		<Footer />
	</body>
</html>

<style>
    #entry-box {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }

    #entry-info-box {
        margin-top: 12px;
        grid-column: 1 / 2;
    }

    #entry-info-box img {
        width: 80%;
        border-radius: 6px;
    }

    #entry-info-box hr {
        width: 20px;

        border: 0;
        border-left: 4px dotted var(--clr-tan-secondary);
    }

    #content-box {
        grid-column: 2 / 5;
    }
</style>